// logo
$logo-size: 60px;
$logo-size-sm: 50px;

// menu
$menu-icon-hamburger: 27px;
$menu-icon-close: 23px;

// avatar
$avatar-radius: 50%;
$avatar-size: 300px;
$avatar-size-lg: 250px;
$avatar-size-md: 200px;
$avatar-size-sm: 180px;
$avatar-size-xs: 160px;

// error
$error-text-height: 30px;
