[theme="dark"] {
  --app-background-color: #091a28;
  --app-text-color: white;
  --lodaing-color: #84ce95;
  --title-color: #ccc;
  --content-color: cyan;
  --link-color: #42b983;
  --error-404-background-color: white;
}
