:root {
  --app-background-color: white;
  --app-text-color: black;
  --lodaing-color: #84ce95;
  --title-color: #3c3a3a;
  --content-color: #2f3030;
  --link-color: #42b983;
  --error-404-background-color: black;
}
