.rtl {
  text-align: right;
  direction: rtl;
  .app-dialogs-controller {
    //left: auto;
    //right: 0;
  }
  .app-drawer {
    transform: translateX($drawer-width);
    &.drawer-active {
      transform: translateX(0);
    }
    animation-name: slideIn-data-v-152a3808;
  }
}
