.app-modal-manager {
  @include position(fixed, auto, 0, auto, 0);
  width: $modal-width;
  min-height: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: var(--app-background-color);
  z-index: z(overlay-content);
  transform: scale(1, 0);
  @include transition(transform);
  &.modal-active {
    transform: scale(1, 1);
  }
}
